@import 'lib/vars';
@import 'lib/mixins';
@include normalize();

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 5vw;
}

.big-num {
  font-family: "Arial";
  font-size: 20vw;
  color: #000000;
  font-weight: 900;
  margin: 0;
  line-height: 1.1;
}

.caption {
  line-height: 1.2;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4vw;
  color: #606060;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hashtag {
  color: #006DC4;
}
